Please sign up 

firstname: {{firstName}}
<!-- Simple form which will send a POST request -->
<form action="" method="POST">
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" type="text" name="firstName">
  <input id="first-name-input" type="text" name="middleName">
  <input id="first-name-input" type="text" name="lastName">

  <input type="submit" value="Save Name">
</form>